<form class="register-box" #registerForm="ngForm" (ngSubmit)="register()">
  <h1>Register</h1>
  <div class="error">
    {{ error }}
  </div>
  <div class="username">
    <input class = "text-field" type="text" required name="username" autocomplete="off" spellcheck="false" [(ngModel)]="model.username" placeholder="Username">
  </div>
  <div class="password">
    <input class = "text-field" type="password" required name="password" autocomplete="off" [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="buttons">
    <button class = "button" [disabled]="!registerForm.valid" type="submit" ><span>Register</span></button>
    <button class = "button" [routerLink]="['/landing']"><span>Back</span></button>
  </div>
</form>