.register-box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 8em;
    background: #353232d0;
    box-shadow: 10px 5px 15px #111;
    border: 2px solid #000;
    border-radius: 0.3em;
    display:grid;
}

.register-box input{
    background: #232829;
    text-align: center;
    border: 2px solid #000;
    border-radius: 0.3em;
    color: #fff;
    transition: 0.3s;
}

.register-box h1 {
    margin-bottom: 1em;
}

.text-field{
    width: 15em;
    height: 3em;
    margin-bottom: 1em;
}

.button{
    width: 5em;
    height: 2.5em;
    margin: 0 0.5em;
}

.button:disabled{
    opacity: 30%;
    pointer-events: none;
}

.username{
    background: transparent;
}

.register-box input:focus, input[type = "submit"]:hover, input[type = "button"]:hover{
    box-shadow: 0 0 0.7em #47577b;
    overflow:auto;
}

input:focus {outline:0;}
input:focus::placeholder {
    color: transparent;
    text-shadow:none;
}