<div class="character-menu">
  <div class="character-menu-header">
    <h1>Preparation and Loadout</h1>
  </div>
  <div class="portrait-panel">
    <div class="portrait">
      <img src="{{ character.pictureUrl }}" alt="" />
    </div>
  </div>
  <div class="menu">
    <div class="character-info">
      <div class="class-icon">
        <i class="ra {{ character.classIcon }} ra-lg" id="class-icon"></i>
      </div>
      <h1>{{ character.name | titlecase }}</h1>
      <h2>{{ character.class | titlecase }}</h2>
    </div>
    <div class="stats">
      <h3>Offensive Abilities:</h3>
      <div class="offense">
        <div *ngFor="let ability of character.abilities | callback: filterOffensiveAbility" class="attack-ability" ngbTooltip="Attack Power: {{ ability.baseDamage }}" tooltipClass="tooltip">
          <i class="ra {{ ability.icon }} ra-lg"></i><span>{{ ability.name }}</span>
        </div>
        <!-- <div class="strong-attack" ngbTooltip="Strong Attack Power: {{ character.strongAttack }}" tooltipClass="tooltip">
          <i class="ra {{ character.strongAttAbilityIcon }} ra-lg"></i><span>{{ character.strongAttAbility }}</span>
        </div>
        <div class="fast-attack" ngbTooltip="Fast Attack Power: {{ character.fastAttack }}" tooltipClass="tooltip">
          <i class="ra {{ character.fastAttAbilityIcon }} ra-lg"></i><span>{{ character.fastAttAbility }}</span>
        </div>
        <div class="special-attack" ngbTooltip="Special Attack Power: {{ character.specialAttack }}" tooltipClass="tooltip">
          <i class="ra {{ character.specialAttAbilityIcon }} ra-lg"></i><span>{{ character.specialAttAbility }}</span>
        </div> -->
      </div>
      <h3>Defensive Abilities:</h3>
      <div class="defense">
        <div *ngFor="let ability of character.abilities | callback: filterDefensiveAbility" class="defense-ability" ngbTooltip="Defensive Power: {{ ability.baseDamage }}" tooltipClass="tooltip">
          <i class="ra {{ ability.icon }} ra-lg"></i><span>{{ ability.name }}</span>
        </div>
        <!-- <div class="strong-defense" ngbTooltip="Strong Defense Raiting: {{ character.strongDefense }}" tooltipClass="tooltip">
          <i class="ra {{ character.strongDefAbilityIcon }} ra-lg"></i><span>{{ character.strongDefAbility }}</span>
        </div>
        <div class="fast-defense" ngbTooltip="Fast Defense Raiting: {{ character.fastDefense }}" tooltipClass="tooltip">
          <i class="ra {{ character.fastDefAbilityIcon }} ra-lg"></i><span>{{ character.fastDefAbility }}</span>
        </div>
        <div class="special-defense" ngbTooltip="Special Defense Raiting: {{ character.specialDefense }}" tooltipClass="tooltip">
          <i class="ra {{ character.specialDefAbilityIcon }} ra-lg"></i><span>{{ character.specialDefAbility }}</span>
        </div> -->
      </div>
      <h3>Passives:</h3>
      <div class="passive">
        <div class="health">
          <i class="ra ra-hearts ra-lg"></i><span>Health: {{ character.hp }}</span>
        </div>
        <div class="crit">
          <i class="ra ra-on-target ra-lg"></i><span>Critical Chance: 5%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button id="accept" [routerLink]="['/dungmenu/', character.activeDungeonId]"><span>Travel</span></button>
    <button id="customize"><span>Inventory</span></button>
    <button id="back" [routerLink]="['/charselect']"><span>Back</span></button>
  </div>
</div>