<div class="character-menu">
  <div class="portrait-panel">
    <div class="image">
      <img src="{{ character.pictureUrl }}" alt="" />
    </div>
  </div>
  <div class="menu">
    <div class="menu-header">
      <div class="character-info">
        <h1>{{ character.name | titlecase }}</h1>
        <h2><i class="ra ra-axe ra-lg"></i>{{ character.class | titlecase }}</h2>
      </div>
      <div class="back" [routerLink]="['/charselect']">
        <span>Back</span>
      </div>
    </div>
    <div class="menu-wrapper">
      <ul>
        <li><a href=""><i class="ra ra-sword ra-lg"></i><span> Free Roam</span></a></li>
        <li><a href=""><i class="ra ra-scroll-unfurled ra-lg"></i><span> Campaign</span></a></li>
        <li id = "arena"><a href=""><i class="ra ra-arena ra-lg"></i><span> Arena</span></a></li>
      </ul>
    </div>
  </div>
</div>