<div class="left"></div>
<app-hero></app-hero>
<app-merger></app-merger>
<app-enemy></app-enemy>
<div class="right"></div>
<div class="phases" *ngIf ="combatData.battlePhase || combatData.strategyPhase || combatData.combatComplete">
  <div *ngIf="combatData.battlePhase" class="phase">
    <span class="content">Battle Phase</span>
  </div>
  <div *ngIf="combatData.strategyPhase" class="phase">
    <span class="content">Strategy Phase</span>
  </div>
</div>
<div class="game-finishers">
  <div [@fade] *ngIf="combatData.victory" class="victory">
    <img src="{{ data.character.pictureUrl }}" alt="" srcset="">
    <span>Victory</span>
  </div>
  <div [@fade] *ngIf="combatData.defeat" class="game-over">
    <img src="{{ data.character.pictureUrl }}" alt="" srcset="">
    <img src="{{ data.character.pictureUrl }}" alt="" srcset="">
    <img src="{{ data.character.pictureUrl }}" alt="" srcset="">
    <span>Defeat</span>
  </div>
</div>