.login-box, .register-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 8em;
    background: #51403d;
    border: 2px solid #000;
    border-radius: 0.3em;
    display:grid;
}

.login-box input, .register-box input{
    background: #2A3132;
    text-align: center;
    border: 2px solid #000;
    border-radius: 0.3em;
    color: #fff;
    transition: 0.3s;
}

.text-field{
    width: 15em;
    height: 3em;
    margin-bottom: 1em;
}

.button{
    width: 5em;
    height: 3em;
    margin: 0 0.5em;
}

.button:disabled{
    opacity: 30%;
    pointer-events: none;
}

.username{
    background: transparent;
}

.login-box input:focus, .register-box input:focus, input[type = "submit"]:hover, input[type = "button"]:hover{
    background-color: #820003;
    box-shadow: 0 0 0.7em #820003;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow:auto;
}

input:focus {outline:0;}
input:focus::placeholder {
    color: transparent;
    text-shadow:none;
}