<!--Swap hardcoded sources for DB queries-->
<ngb-carousel *ngIf="images" #carousel class="carousel">
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[0]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[1]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[2]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[3]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[4]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[5]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[6]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[7]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[8]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[9]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[10]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="class-wrapper">
      <img [src]="images[11]">
    </div>
  </ng-template>
</ngb-carousel>