.wrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    max-width: 1327px;
}

.character:focus {outline:0;}

.new-character {
    display: flex;
    width: 212px;
    height: 334px;
    background: #232829;
    box-shadow: 10px 5px 15px #111;
    color: #f1f1f1;
    border: 2px solid #000;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    text-shadow: -1px 0 1px black, 0 1px 4px black, 1px 0 4px black, 0 -1px 1px black;
    user-select: none;
    transition: 0.3s;
    margin: 5px;
    z-index: 1000;
}

.new-character:hover {
    background-color: #760604;
    box-shadow: 0 0 0.2em #760604c5;
    margin: 0 20px;
    transform: scale(1.1);
}

.character {
    transition: 0.3s;
    position: relative;
    margin: 5px;
    color: #f1f1f1;
}

.character:hover {
    margin: 0 20px;
    transform: scale(1.1);
}

img:hover {
    box-shadow: 0 0 3em #760604c5;
}

img {
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 10px 5px 15px #111;
    transition: 0.3s;
}

.info {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 1px black, 0 1px 4px black, 1px 0 4px black, 0 -1px 1px black;
    pointer-events:none
}
.name {
    font-size: 40px;
}
.new-character:focus {outline:0;}