/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/rpg-awesome/css/rpg-awesome.css';
@import "~bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
}

body, html {
  font: Calibri;
  text-align: center;
  color: #fff;
  min-width: 1327px;
}

.bg-skull {
  background-image: url("https://imgur.com/WFHKg2S.png");
  background-size: cover;
  background-attachment: fixed;
}

.bg-gradient {
  background-image: url("assets/bg/camp.jpg");
  background-size: cover;
  background-attachment: fixed;
}
