/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/rpg-awesome/css/rpg-awesome.css';
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --main-color: #8E0E00;
  --main-background: linear-gradient(35deg, #383737c4, #292626c7 100%);
  --solid-background: #222;
  --text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
  --main-button-color: linear-gradient(#190A05, #870000); /*linear-gradient(#0f0f0f, #571901)*/
  --main-button-before-background: linear-gradient(to right, #0f0f0f,#222,#070707);
  --strong-color: #b30000;
  --strong-icon-color: linear-gradient(#5a0c0c, #0c0000); /*690a05*/
  --fast-color: #127a08;
  --fast-icon-color: linear-gradient(#0c4207, #011405); /*095817*/
  --special-color: #4d0091;
  --special-icon-color: linear-gradient(#300357, #0d0114); /*3e0166*/
  --passive-icon-color: linear-gradient(#7e4a06, #140901);

}

* {
  margin: 0;
  padding: 0;
}

body, html {
  font: Calibri;
  text-align: center;
  color: #fff;
  min-width: 1327px;
}

.bg-skull {
  background-image: url("https://imgur.com/WFHKg2S.png");
  background-size: cover;
  background-attachment: fixed;
}

.bg-gradient {
  background-image: url("assets/bg/camp.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.bg-old-road {
  background-image: url("assets/bg/forestCropped.png");
  background-size: cover;
  background-attachment: fixed;
}

.bg-duel {
  background-image: url("assets/bg/duel-new.jpg");
  background-size: cover;
  background-attachment: fixed;
}


