.landing {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-wrapper {
    position: fixed;
    left: 0;
    bottom: -35%;
    height: 100vh;
    z-index: 1000;
    text-align: left;
}

.menu-wrapper ul li {
    width: 400px;
    margin-left: 100px;
    line-height: 50px;
    list-style: none;
}

.menu-wrapper ul li a {
    display: block;
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 3px 3px 3px #000;
    transition: 0.3s;
    text-decoration: none;
    cursor: default;
    user-select: none;
}

.menu-wrapper ul li a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -100px;
    width: 500px;
    height: 50px;
    background: linear-gradient(to right, transparent 5%, #760604c5 95%);
    box-shadow: 8px 3px 5px #7606046b;
    transform: skew(40deg);
    transition: 0.3s;
    opacity: 0;
}

.menu-wrapper ul li a:hover {
    font-size: 25px;
    color: #f1f1f1;
}

.menu-wrapper ul li a:hover::before {
    opacity:1;
    left: 0px;
}
