.combat {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 1327px;
    margin-bottom: 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-shadow: var(--text-shadow);
    color: #dfdfdf;
}

.character {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
    width: 270px;
}

.merger {
    position: relative;
    grid-column: 2/3;
    justify-self: center;
    height: 360px;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 8px #111;
    margin-bottom: 15px;
    background: var(--main-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.merger-header, .end-turn {
    grid-column: 1/3;
}

.picked-offense, .picked-defense {
    width: 75px;
    height: 75px;
    margin: 40px;
    background: var(--solid-background);
    box-shadow: inset 0 0px 20px  #0000007e, 0 0 8px #111;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 40px;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 3;
}

.picked-offense {
    justify-self: right;
}

.picked-defense {
    justify-self: left;
}

#offense-merger, #defense-merger {
    position: absolute;
    opacity: 0.2;
    transform: scale(2.3);
    z-index: 2;
}

#offense-merger {
    left: 25px;
}

#defense-merger {
    left: 210px;
}

.hero-phase, .enemy-phase {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: 100;
}

.enemy {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: left;
    width: 270px;
}

.enemy img, .character img {
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 8px #111;
}

.control-panel {
    grid-column: 1/4;
    grid-row: 2/3;
    border: 2px solid #000;
    border-radius: 3px;
    background: var(--main-background);
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 75px;
}

.character-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.character-header {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 220px;
    align-self: center;
    justify-self: start;
    font-size: 30px;
}

#hp {
    font-size: 18px;
}

.character-header i {
    margin: 0 5px;
    font-size: 40px;
}

.abilities {
    grid-column: 2/4;
    display: flex;
    height: 50px;
    margin: 10px 0 15px;
    text-shadow: var(--text-shadow);
    font-size: 30px;
}

.offense, .defense {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 5px 0 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.defense {
    border-left: none;
}

.offense {
    background: linear-gradient(#8f8f8f60, transparent)
}

.defense {
    background: linear-gradient(#1a1a1aab, transparent)
}

#sword, #shield {
    position: absolute;
    transform: scale(0.9);
}

#sword {
    left: 360px;
    top: 432px;
}

#shield {
    left: 536px;
    top: 432px;
}

.strong, .fast, .special {
    color: #dfdfdf;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 4px #111, inset 0 0px 10px  #00000060;
    width: 50px;
    margin: 0 3px;
}

.strong {
    background: var(--strong-icon-color);
}

.fast {
    background: var(--fast-icon-color);
}

.special {
    background: var(--special-icon-color);
}

.character-stats {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0;
}

.character-stats-offense {
    border-right: 1px solid #000;
}

.character-stats-defense {
    padding-left: 10px;
}

.character-stats-defense, .character-stats-offense {
    text-align: start;
}

td {
    padding: 0 10px;
}

.hp-bar-bg { 
	height: 24px;
	position: relative;
    border: 2px solid #000;
	background: #580000;
    box-shadow: inset 0 2px 9px #00000073, inset 0 -2px 6px #00000093;
    transform: skew(-40deg);
    box-shadow: 0 0 8px #111;
    margin: 15px 0;
}

.hp-bar {
    display: block;
    height: 20px;
    background-color: #00641b;
    background-image: linear-gradient(
      center bottom,
      #2bc253 37%,
      #54f054 69%
    );
    box-shadow: inset 0 2px 9px  #00000031, inset 0 -2px 6px #0000004d;
    border-right: 2px solid #000;
    position: relative;
    overflow: hidden;
}

button {
    width: 115px;   
    height: 35px;
    border: 2px solid #000;
    box-shadow: 0 0 4px #111;
    background: var(--main-button-color);
    color: #b3b3b3;
    text-shadow: var(--text-shadow);
    font-weight: 500;
    transition: 0.3s;
    transform: skew(-40deg);
    overflow: hidden;
}
  
button::before {
    content: "";
    position: absolute;
    left: -10px;
    right: 0;
    top: 0;
    width: 135px;
    height: 35px;
    background: var(--main-button-before-background);
    transform: skew(40deg);
    transition-property: opacity;
    transition: 0.3s;
}
  
button:hover::before {
    opacity: 0;
}
  
button span {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    transform: skew(40deg);
}
  
button:hover {
    color: #fff;
    text-shadow: var(--text-shadow);
    box-shadow: 0 0 10px var(--main-color);
}

button:focus {outline:0;}

.end-turn:disabled{
    opacity: 30%;
    pointer-events: none;
}

.batn {
    position: absolute;
}

