<div class="merger">
  <div class="merger-header">
    <h2>Exchange Strategy</h2>
  </div>
  <i class="ra ra-crossed-swords ra-5x" id="offense-merger"></i>
  <div class="picked-offense">
    <i *ngIf="combatData.hero.offense" class="ra {{ combatData.hero.offense.icon }} ra-lg" (click)="dropOffense()"></i>
  </div>
  <i class="ra ra-round-shield ra-5x" id="defense-merger"></i>
  <div class="picked-defense"> 
    <i *ngIf="combatData.hero.defense" class="ra {{ combatData.hero.defense.icon }} ra-lg" (click)="dropDefense()"></i>
  </div>
  <button [disabled]="combatData.hero.offense == null || combatData.hero.defense == null" (click)="endTurn()" class="end-turn"><span>End Turn</span></button>
</div>