@keyframes scroll {
  0% {
      top: 140px;
      height: 330px;
  }
  100% {
      top: 490px;
      height: 0px;
  }
}

.dungeon-menu {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  width: 1327px;
  margin-bottom: 100px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-auto-rows: minmax(44px auto);
  border: 2px solid #000;
  border-radius: 3px;
  background: linear-gradient(35deg, #383737c4, #292626c7 100%);
  box-shadow: 10px 5px 15px #111;
  user-select: none;
  cursor: default;
}
  
.dungeon-menu-header {
  grid-column: 1/3;
  justify-self: center;
  width: 400px;
  margin-bottom: 50px;
  padding-bottom: 3px;
  border: 1px solid #000;
  box-shadow: 0 0 8px #111;
  transform: skew(40deg);
  overflow: hidden;
}
  
.dungeon-menu-header::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  right: 0;
  width: 450px;
  height: 55px;
  background-color: #222222a4;
  transform: skew(-40deg);
}
  
.dungeon-menu-header h1 {
  margin: 0;
  font-size: 32px;
  color: #f1f1f1;
  text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
  user-select: none;
  transform: skew(-40deg);
}

.dungeon-info h2 {
  color: #f1f1f1;
  text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
}


.dungeon-info h3 {
  text-align: start;
  color: #f1f1f1;
  text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.enemy img {
  grid-column: 1/2;
  margin: 5px;
  border: 2px solid #000;
  box-shadow: 0 0 8px #111;
}

.enemies {
  display: flex;
}

.progress-bar {
  margin-top: 10px;
  width: 500px;
  height: 50px;
  border: 2px solid #000;
  box-shadow: 0 0 8px #111;
  background: #222;
}

.progress-bar::after {
  content: "";
  position: absolute;
  margin-top: 10px;
  top: 381px;
  width: 200px;
  height: 46px;
  background: var(--main-color);
}

.dungeon-description-wrapper {
  grid-column: 2/3;
  width: 350px;
  height: 400px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 0 8px #111;
  background-color: #222;
}

.dungeon-description-wrapper::after {
  content: "";
  position: absolute;
  top: 140px;
  right: 55px;
  width: 335px;
  height: 330px;
  background: linear-gradient(transparent 1%, #222 8%);
  animation: 5s linear 1 scroll;
  animation-fill-mode: forwards;
}

.buttons {
  grid-column: 1/3;
  text-align: end;
}

button {
  grid-column: 1/3;
  width: 115px;
  height: 35px;
  margin: 50px 15px 0 15px;
  border: 2px solid #000;
  box-shadow: 0 0 4px #111;
  background: var(--main-button-color);
  color: #b3b3b3;
  font-weight: bold;
  transition: 0.3s;
  transform: skew(-40deg);
  overflow: hidden;
}
  
button::before {
  content: "";
  position: absolute;
  left: -10px;
  right: 0;
  top: 0;
  width: 135px;
  height: 35px;
  background: linear-gradient(to right, #0f0f0f,#222,#070707);
  transform: skew(40deg);
  transition-property: opacity;
  transition: 0.3s;
}

button:hover::before {
  opacity: 0;
}

button span {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  transform: skew(40deg);
}

button:hover {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
  box-shadow: 0 0 10px var(--main-color);
}
button:focus {outline:0;}
  