.dungeon-menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1327px;
  display: grid;
  grid-template-columns: 300px 1fr 350px;
  color: #dfdfdf;
  text-shadow: var(--text-shadow);
  border: 1px solid #000;
  user-select: none;
  cursor: default;
}
  
.dungeon-menu-header {
  position: relative;
  grid-column: 1/4;
  justify-self: center;
  width: 400px;
  margin-bottom: 50px;
  border: 1px solid #000;
  box-shadow: 0 0 8px #111;
  transform: skew(40deg);
  overflow: hidden;
}

.dungeon-menu-header h1 {
  transform: skew(-40deg);
}
  
.dungeon-menu-header::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 450px;
  height: 60px;
  background: var(--main-background);
}

.area-panel {
  position: relative;
  grid-column: 1/2;
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px auto;
  padding: 3px 8px;
  border: 2px solid #000;
  border-radius: 3px;
  background: linear-gradient(227deg, #333, #222);
  box-shadow: inset 0 0px 20px #111, 0 0 8px #000;
  z-index: 1;
  overflow: hidden;
}

.area-panel::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 50px;
  top: -3px;
  left: 25px;
  right: 0;
  border: 2px solid #000;
  box-shadow: inset 0 0px 20px #140901, 0 0 8px #000;
  background: var(--header-color);;
  transform: skew(50deg);
  z-index: -1;
}

.area-panel-header {
  display: flex;
  flex-wrap: nowrap;
  justify-self: end;
  font-size: 25px;
  font-weight: 700;
}

.area-panel-header h2 {
  font-size: 25px;
  margin-top: 3px;
}

.area-icon {
  margin-right: 10px;
}

.area-panel-description {
  position: relative;
  text-align: left;
  z-index: 1;
  margin-top: 15px;
}

.area-panel-description::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 35px;
  top: -3px;
  left: -30px;
  right: 0;
  border: 2px solid #000;
  box-shadow: inset 0 0px 20px #140901, 0 0 8px #000;
  background: var(--main-color-gradient);;
  transform: skew(50deg);
  z-index: -1;
}

.area-panel h3 {
  margin-left: 5px;
  font-size: 20px;
}

.area-panel-progress {
  position: relative;
  text-align: left;
  z-index: 1;
  margin-top: 15px;
}

.area-panel-progress::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 35px;
  top: -3px;
  left: -30px;
  right: 0;
  border: 2px solid #000;
  box-shadow: inset 0 0px 20px #140901, 0 0 8px #000;
  background: var(--main-color-gradient);;
  transform: skew(50deg);
  z-index: -1;
}

.progress-bar {
  position: relative;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border: 2px solid #000;
  box-shadow: 0 0 8px #111;
  background: #222;
}

.progress-bar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 80px;
  height: 36px;
  background: var(--main-color);
}

.area-panel-enemies {
  position: relative;
  text-align: left;
  z-index: 1;
  margin-top: 15px;
}

.area-panel-enemies::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 35px;
  top: -3px;
  left: -30px;
  right: 0;
  border: 2px solid #000;
  box-shadow: inset 0 0px 20px #140901, 0 0 8px #000;
  background: var(--main-color-gradient);;
  transform: skew(50deg);
  z-index: -1;
}


.location-panel {
  display: grid;
  place-items: center;
}

.area-card {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px 50px 1fr;
  width: 150px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 3px;
  background: linear-gradient(227deg, #333, #222);
  box-shadow: inset 0 0px 20px #111, 0 0 8px #000;
  z-index: 1;
  overflow: hidden;
}

#area-card-name {
  grid-column: 1/3;
  justify-self: end;
  align-self: center;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 600;
}

.area-card::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 35px;
  top: -3px;
  left: 15px;
  right: 0;
  border: 2px solid #000;
  box-shadow: inset 0 0px 20px #000000e3, 0 0 8px #000;
  background: #444;
  transform: skew(50deg);
  z-index: -1;
}

.area-card-explored {
  grid-column: 1/3;
}

.area-card-progress-bar-bg { 
  height: 10px;
  width: 125px;
	position: relative;
  border: 2px solid #000;
	background: #111;
  box-shadow: inset 0 2px 3px #000000e3, inset 0 0 6px #000;
  box-shadow: 0 0 8px #111;
  margin-top: 15px;
  overflow: hidden;
}

.area-card-progress-bar {
  display: block;
  height: 10px;
  background: var(--main-color);
  box-shadow: inset 0 2px 9px  #00000031, inset 0 -2px 6px #0000004d;
  border-right: 2px solid #000;
  position: relative;
}

.area-card-explore {
  position: relative;
  grid-column: 1/2;
  width: 60px;
  height: 70px;
  margin-top: 15px;
  margin-left: 5px;
  transform: skewY(40deg);
  box-shadow: inset 0 0px 20px #0000007e, 0 0 8px #111;
  border: 2px solid #000;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

.area-card-explore::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  width: 60px;
  height: 115px;
  background: var(--fast-icon-color-reverse);
  transform: skewY(-40deg);
  z-index: -1;
}

.area-card-explore i {
  position: absolute;
  transform: skewY(-40deg);
  left: 0;
  right: 0;
  top: 20px;
  font-size: 35px;
  color: #b4b4b4;
}

.area-card-challenge {
  grid-column: 2/3;
  width: 60px;
  height: 70px;
  margin-top: 15px;
  margin-right: 5px;
  transform: skewY(-40deg);
  box-shadow: inset 0 0px 20px #0000007e, 0 0 8px #111;
  border: 2px solid #000;
  background: transparent;
  overflow: hidden;
}

.area-card-challenge::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  width: 60px;
  height: 115px;
  background: var(--strong-icon-color-reverse);
  transform: skewY(40deg);
  z-index: -1;
}

.area-card-challenge i {
  position: absolute;
  transform: skewY(40deg);
  left: 0;
  right: 0;
  top: 20px;
  font-size: 30px;
  color: #b4b4b4;
}

.journal-panel {
  position: relative;
  grid-column: 3/4;
  width: 350px;
  height: 400px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 0 8px #111;
  background-color: var(--solid-background);
}

.journal-panel::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 335px;
  height: 330px;
  background: linear-gradient(transparent 1%, var(--solid-background) 8%);
  animation: 5s linear 1 scroll;
  animation-fill-mode: forwards;
}

.buttons {
  grid-column: 1/4;
  text-align: end;
}

button {
  grid-column: 1/3;
  width: 115px;
  height: 35px;
  margin: 15px;
  border: 2px solid #000;
  box-shadow: 0 0 4px #111;
  background: var(--main-button-color);
  color: #b3b3b3;
  font-weight: bold;
  transition: 0.3s;
  transform: skew(-40deg);
  overflow: hidden;
}
  
button::before {
  content: "";
  position: absolute;
  left: -10px;
  right: 0;
  top: 0;
  width: 135px;
  height: 35px;
  background: linear-gradient(to right, #0f0f0f,#222,#070707);
  transform: skew(40deg);
  transition-property: opacity;
  transition: 0.3s;
}

button:hover::before {
  opacity: 0;
}

button span {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  transform: skew(40deg);
}

button:hover {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px 4px #000, 1px 0 4px #000, 0 -1px #000;
  box-shadow: 0 0 10px var(--main-color);
}

button:focus {outline:0;}

@keyframes scroll {
  0% {
      top: 0px;
      height: 330px;
  }
  100% {
      top: 350px;
      height: 0px;
  }
}

