<div class="dungeon-menu">
  <div class="dungeon-menu-header">
    <h1>{{ data.dungeon.name }}</h1>
  </div>
  <app-area-panel></app-area-panel>
  <div class="areas">
    <div class="area-card" *ngFor="let area of data.dungeon.areas | callback: filterArea" >
      <app-area-card [area]="area"></app-area-card>
    </div>
  </div>
  <div class="location-progression">
    <div class="location-progression-header">
      <h2>Location Progress</h2>
    </div>
    <p>To progress through the story arc of the location you must defeat area bosses. 
      Boss fights become less challenging the more you explore the area. 
      Should your try to defeat a boss prove unsuccessful, the boss will gain strength and you 
      will need to get more prepared before you try again.</p>
    <h4>Location Cleared: 33%</h4>
    <div class="progress-bar-bg">
      <span class="progress-bar" [style.width.%]="33"></span>
    </div>
  </div>
  <div class="journal">
    <div class="journal-header">
      <h2>Journal</h2>
    </div>
    <p [ngStyle]="{'text-align': 'left'}">
      {{ data.dungeon.descriptionLong }}
    </p>
  </div>
</div>