<div class="dungeon-menu">
  <div class="dungeon-menu-header">
    <h1>{{ data.dungeon.name }}</h1>
  </div>
  <div class="dungeon-info">
    <h2>Location Knowledge</h2>
    <h3>Possible Enemy Encounters:</h3>
    <div class="enemies">
      <div class="enemy" *ngFor="let enemy of data.dungeon.enemies | callback: filterEnemy" placement="bottom" ngbTooltip="{{ enemy.name }} - not encountered yet">
        <img src="{{ enemy.thumbnailUrl }}" alt="">
      </div>
    </div>
    <h3>Location explored:</h3>
    <div class="progress-bar">1/3</div>
    <h3>Possible rewards:</h3>
  </div>
  <div class="dungeon-description-wrapper">
    <div class="div-dugeon-description">
      {{ data.dungeon.descriptionLong }}
    </div>
  </div>
  <div class="buttons">
    <button id="embark" [routerLink]="['/combat/', data.user.activeCharacterId]"  [queryParams]="{ dung: 1 }"><span>Explore</span></button>
    <button id="embark" [routerLink]="['/combat-new/', data.user.activeCharacterId]"  [queryParams]="{ dung: 1 }"><span>UNCHARTED</span></button>
    <button id="back" [routerLink]="['/charselect/', data.user.activeCharacterId]"><span>Back</span></button>
  </div>
</div>